#hamburger {
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 2rem;
  display: none;
}

#hamburger a {
  color: #fff;
}

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.4rem;
}

.list-item {
  color: orange;
}

@keyframes rotateLine {
}

.maincontainer {
  /* border: 1px solid red; */
  width: 95%;
  margin: 30px auto;
  color: white;
}

.maincontainer > h2 {
  margin: 40px 0;
  font-size: 1.5rem;
}

input {
  background-color: black;
  border: 1px solid white;
  width: 375px;
  height: 25px;
  color: white;
  padding: 4px 5px;
  border-radius: 4px;
}

.inputs {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  flex-wrap: wrap;
}

.inputs > div {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

#adduder {
  margin: 20px 0px;
  background-color: white;
  border: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.status-msg {
  display: none;
}
P:nth-of-type(2) {
  margin: 30px 0px;
}

.emp-li-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  /* border: 1px solid white; */
  padding: 10px 0px;
}
.emp-li-container > p {
  color: #ffffff50;
}

.emp-card {
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  width: fit-content;
}

.details {
  border: 1px solid white;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
  border-radius: 6px;
}
#del-user-btn {
  padding: 6px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
